[core]
  editor = vim
  excludesfile = ~/.gitignore
[user]
  name = Phil Lee
  email = asmega@ph-lee.com
[color]
  diff = auto
  status = auto
  branch = auto
  [diff]
    whitespace = "red reverse"
[push]
  default = simple
