[core]
  editor = vim
  excludesfile = ~/.gitignore
[user]
  name = Phil Lee
  email = asmega@users.noreply.github.com
[color]
  diff = auto
  status = auto
  branch = auto
  [diff]
    whitespace = "red reverse"
[push]
  default = simple
[alias]
  co = checkout
  commti = commit
  uberlog = log --pretty=format:\"%C(green)%h\\ %C(yellow)[%ad]%C(auto)%d\\ %Creset%s%Cred\\ [%cn]\" --decorate --date=relative
  quicklog = log --oneline --decorate --relative-date
  st = status
